@use './variables' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* layout */
  --header-height: 100px;

  /* theme (light) */
  --color-background: #{$color-white};
  --color-text: #{$color-nero};

  color-scheme: light;
}

html.theme-dark {
  /* theme (dark) */
  --color-background: #{$color-black};
  --color-text: #{$color-almost-white};

  color-scheme: dark;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

body {
  margin: 0;
}
