@use './variables' as *;

@mixin vp-768 {
  @media (min-width: $vp-768) {
    @content;
  }
}

@mixin vp-1024 {
  @media (min-width: $vp-1024) {
    @content;
  }
}

@mixin vp-1280 {
  @media (min-width: $vp-1280) {
    @content;
  }
}

@mixin vp-1440 {
  @media (min-width: $vp-1440) {
    @content;
  }
}

@mixin mobile-only {
  @media (max-width: ($breakpoint-tablet - $breakpoint-gap)) {
    @content;
  }
}

@mixin tablet-only {
  @media (min-width: $breakpoint-tablet) and (max-width: ($breakpoint-desktop - $breakpoint-gap)) {
    @content;
  }
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  overflow: hidden;
}

@mixin visually-shown {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  clip-path: none;
  overflow: visible;
  white-space: normal;
}

@mixin fluid($property, $minSize, $maxSize, $minVp: 390, $maxVp: 1600) {
  #{$property}: clamp(
    #{$minSize}px,
    calc(#{$minSize}px + (#{$maxSize} - #{$minSize}) * ((100vw - #{$minVp}px) / (#{$maxVp} - #{$minVp}))),
    #{$maxSize}px
  );
}

@mixin tap-reset {
  -webkit-tap-highlight-color: transparent;
}

@mixin header-icon-item {
  display: grid;
  place-items: center;
  min-width: 49px;
  min-height: 49px;
  background-color: $color-white;
  color: $color-nero;
  text-decoration: none;
  cursor: pointer;
  border-left: 1px solid $color-whisper;
  transition:
    background-color $trans-default,
    opacity $trans-default,
    color $trans-default;

  @include tap-reset;

  @include vp-768 {
    min-width: 100px;
    min-height: 100px;
  }

  @include vp-1024 {
    min-width: unset;
    min-height: 60px;
    padding: 10px 20px;
    grid-template-columns: 24px 1fr;
    place-items: center start;
    gap: 15px;
  }
}

@mixin header-icon-svg {
  width: 20px;
  height: 20px;
  flex-shrink: 0;

  @include vp-768 {
    width: 40px;
    height: 40px;
  }

  @include vp-1024 {
    width: 24px;
    height: 24px;
  }
}

@mixin header-icon-states {
  &:focus {
    outline: none;
  }

  &:active {
    opacity: 0.7;
  }

  &:focus-visible {
    color: $color-sunset-oranget;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: $color-sunset-oranget;
    }
  }

  @include vp-1024 {
    &:focus-visible {
      color: $color-sunset-oranget;
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        color: $color-sunset-oranget;
      }
    }
  }
}
