@use './variables' as *;

@mixin vp-390 {
  @media (min-width: $vp-390) {
    @content;
  }
}

@mixin vp-768 {
  @media (min-width: $vp-768) {
    @content;
  }
}

@mixin vp-1024 {
  @media (min-width: $vp-1024) {
    @content;
  }
}

@mixin vp-1280 {
  @media (min-width: $vp-1280) {
    @content;
  }
}

@mixin vp-1440 {
  @media (min-width: $vp-1440) {
    @content;
  }
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  overflow: hidden;
}

@mixin visually-shown {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  clip-path: none;
  overflow: visible;
  white-space: normal;
}

@mixin fluid($property, $minSize, $maxSize, $minVp: 390, $maxVp: 1600) {
  #{$property}: clamp(
    #{$minSize}px,
    calc(#{$minSize}px + (#{$maxSize} - #{$minSize}) * ((100vw - #{$minVp}px) / (#{$maxVp} - #{$minVp}))),
    #{$maxSize}px
  );
}

@mixin tap-reset {
  -webkit-tap-highlight-color: transparent;
}

@mixin header-icon-item {
  color: inherit;

  --icon-color: currentColor;

  text-decoration: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition:
    background-color $trans-default,
    opacity $trans-default,
    color $trans-default;

  @include tap-reset;
}

@mixin header-control-size {
  flex-shrink: 0;

  @include fluid(width, 44, 60, 320, 390);
  @include fluid(min-height, 44, 60, 320, 390);

  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include vp-1024 {
    width: unset;
    padding: 5px 10px 5px 26px;
    gap: 15px;
  }
}

@mixin header-icon-svg {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  color: var(--icon-color);
  transition: color $trans-default;

  @include vp-1024 {
    width: 24px;
    height: 24px;
  }
}

@mixin header-icon-states {
  &:focus {
    outline: none;
  }

  &:active {
    opacity: 0.7;
  }

  &:focus-visible {
    --icon-color: #{$color-white};

    outline: none;
    background-color: $color-sunset-oranget;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      --icon-color: #{$color-white};

      outline: none;
      background-color: $color-sunset-oranget;
    }
  }

  @include vp-1024 {
    &:focus-visible {
      --icon-color: #{$color-sunset-oranget};

      outline: none;
      background-color: unset;
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        --icon-color: #{$color-sunset-oranget};

        outline: none;
        background-color: unset;
      }
    }

    &__link:hover &__text,
    &__link:hover &__count,
    &__link:focus-visible &__text,
    &__link:focus-visible &__count {
      color: $color-sunset-oranget;
    }
  }
}

@mixin pill-current($bg: $color-sunset-oranget, $color: $color-white) {
  background: $bg;
  color: $color;
  border-radius: 999px;
}
