// Colors

// Default

$color-nero: #202020;
$color-white: #ffffff;
$color-transparent: transparent;

// Project palette
$color-sunset-oranget: #ff4b41;
$color-whisper: #ebebeb;
$color-white-smoke: #f8f8f8;


// Typography

$font-primary: 'Inter', 'Arial', sans-serif;

// Animation
$tf-default: ease;
$trans-default: 0.3s $tf-default;
$trans-400: 0.4s $tf-default;
$trans-600: 0.6s $tf-default;

// Viewports

$vp-320: 320px;
$vp-768: 768px;
$vp-1024: 1024px;
$vp-1280: 1280px;
$vp-1600: 1600px;

// Внутренний микрогэп, чтобы диапазоны не пересекались.

$bp-gap: 0.01px;

// z-indexes

$z-index-zero: 0;
$z-index-first: 1;
$z-index-second: 2;
$z-index-third: 3;

// container paddings
$container-padding-mobile: 10px;
$container-padding-tablet: 20px;
$container-padding-desktop: 30px;

// adaptive sizes
$mobile-size: 360px;
$tablet-size: 768px;
$desktop-size: 1440px;
