// Colors

// Default

$color-nero: #202020;
$color-white: #ffffff;
$color-transparent: transparent;

// Project palette
$color-sunset-oranget: #ff4b41;
$color-whisper: #ebebeb;
$color-white-smoke: #f8f8f8;
$color-gray-light: #f0f0f0;
$color-nobel: #999999;
$color-black: #0f0f0f;
$color-almost-white: #f2f2f2;
$color-melon: #ffbcac;

// Typography

$font-primary: 'Pragmatica Next', 'Arial', sans-serif;

// Animation
$tf-default: ease;
$trans-default: 0.3s $tf-default;
$trans-400: 0.4s $tf-default;
$trans-600: 0.6s $tf-default;

// Viewports

$vp-360: 360px;
$vp-390: 390px;
$vp-768: 768px;
$vp-1024: 1024px;
$vp-1280: 1280px;
$vp-1600: 1600px;

// Внутренний микрогэп, чтобы диапазоны не пересекались.

$bp-gap: 0.01px;

// z-indexes

$z-index-zero: 0;
$z-index-first: 1;
$z-index-second: 2;
$z-index-third: 3;

// container paddings
$container-padding-mobile: 10px;
$container-padding-tablet: 20px;
$container-padding-desktop: 30px;

// adaptive sizes
$mobile-size: 390px;
$tablet-size: 768px;
$desktop-size: 1600px;
