@use '../global' as *;

.badge {
  display: grid;
  place-items: center;
  border-radius: 50%;
  background-color: $color-sunset-oranget;
  color: $color-white;
  font-weight: 600;
  font-size: 12px;
  line-height: 1;

  &--small {
    font-size: 10px;
  }
}
