@use '../global' as *;

.badge {
  display: grid;
  place-items: center;
  border-radius: 50%;
  padding: 3px;
  background-color: $color-sunset-oranget;
  color: $color-white;
  font-weight: 600;
  font-size: 12px;
  line-height: 1;

  &--small {
    font-weight: 500;
    font-size: 10px;
    letter-spacing: 0.01em;
  }
}
