@use '../global' as *;

.burger {
  --icon-color: #{$color-nero};

  position: relative;
  width: 100%;
  height: 100%;
  border: none;
  background-color: $color-transparent;
  cursor: pointer;
  transition:
    background-color $trans-default,
    opacity $trans-default;

  @include tap-reset;

  &:focus {
    outline: none;
  }

  &:focus-visible {
    --icon-color: #{$color-white};

    background-color: $color-sunset-oranget;
  }

  &:active {
    opacity: 0.7;
  }

  &:disabled {
    --icon-color: #{$color-whisper};

    background-color: $color-white-smoke;
    pointer-events: none;
    cursor: default;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    @include fluid(width, 20, 40);
    @include fluid(height, 2, 4);

    background-color: var(--icon-color);
    border-radius: 1px;
    transition: background-color $trans-default;

    &::before,
    &::after {
      position: absolute;
      left: 0;
      content: '';

      @include fluid(width, 20, 40);
      @include fluid(height, 2, 4);

      background-color: var(--icon-color);
      border-radius: 2px;
    }

    &::before {
      @include fluid(bottom, 6, 12);
    }

    &::after {
      @include fluid(top, 6, 12);
    }
  }

  @include vp-1024 {
    display: none;
  }
}
