@use '../global' as *;

.burger {
  --icon-color: #{$color-nero};

  position: relative;
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  display: grid;
  place-items: center;
  border: none;
  background-color: $color-transparent;
  border-left: 1px solid $color-whisper;
  cursor: pointer;
  transition:
    background-color $trans-default,
    opacity $trans-default;

  @include tap-reset;

  &:focus {
    outline: none;
  }

  &:focus-visible {
    --icon-color: #{$color-white};

    background-color: $color-sunset-oranget;
  }

  &:active {
    opacity: 0.7;
  }

  &:disabled {
    --icon-color: #{$color-whisper};

    background-color: $color-white-smoke;
    pointer-events: none;
    cursor: default;
  }

  &__icon {
    position: relative;
    width: 20px;
    height: 2px;
    background-color: var(--icon-color);
    border-radius: 1px;
    transition: background-color $trans-default;

    &::before,
    &::after {
      position: absolute;
      left: 0;
      content: '';
      width: 20px;
      height: 2px;
      background-color: var(--icon-color);
      border-radius: 2px;
    }

    &::before {
      bottom: 6px;
    }

    &::after {
      top: 6px;
    }
  }

  &.is-opened {
    background-color: $color-sunset-oranget;
  }

  &.is-opened &__icon {
    background-color: $color-transparent;
  }

  &.is-opened &__icon::before {
    transform: rotate(45deg);
    bottom: 0;
    background-color: $color-white-smoke;
  }

  &.is-opened &__icon::after {
    transform: rotate(-45deg);
    top: 0;
    background-color: $color-white-smoke;
  }

  @include vp-1024 {
    display: none;
  }
}
