@use '../global' as *;

.catalog {
  overflow: hidden;

  &__item.swiper-slide {
    flex: 0 0 auto;
    width: 105px;
    min-height: 120px;
     display: grid;
  }

  @include vp-768 {
    &__wrapper {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
      gap: 20px;
    }

    &__item {
      width: 100%;
      min-height: 200px;
    }
  }
}
