@use '../global' as *;

.catalog-card {
  --badge-offset: 10px;

  position: relative;
  display: grid;
  grid-template-rows: 47px 1fr;
  place-items: center;
  width: 100%;
  height: 100%;
  padding: 20px 5px 7px;
  background: $color-gray-light;
  border-radius: 10px;
  color: inherit;
  text-decoration: none;
  transition:
    background-color $trans-default,
    opacity $trans-default;

  &:hover,
  &:focus-visible {
    outline: none;
    background-color: $color-sunset-oranget;
  }

  &:active {
    opacity: 0.7;
  }

  &__count {
    display: none;
    margin: 0;
  }

  &__image-wrapper {
    width: 100%;
    aspect-ratio: 82 / 58;
  }

  &__image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__title {
    margin: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0.02em;
    text-align: center;
  }

  &__badge {
    position: absolute;
    top: var(--badge-offset);
    right: var(--badge-offset);
    width: 22px;
    height: 22px;
  }

  @include vp-768 {
    grid-template-rows: 96px 1fr;

    &__title {
      font-size: 14px;
    }
  }

  @include vp-1024 {
    grid-template-rows: min-content 96px 1fr;
    padding: 15px 5px 11px;

    &__count {
      display: block;
      justify-self: start;
      margin-left: 16px;
      font-size: 12px;
    }
  }
}
