@use '../global' as *;

.catalog {
  width: 100%;

  &__wrapper {
    display: flex;
    gap: 10px;
  }

  &__item {
    flex-shrink: 0;
    width: 86px;
    min-height: 98px;
  }

  @include vp-768 {
    &__wrapper {
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      gap: 20px;
    }

    &__item {
      width: 100%;
      min-height: 200px;
    }
  }
}
