@use '../global' as *;

.copyright {
  &__text {
    margin: 0;
    font-family: $font-primary;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    color: $color-nobel;

    & + & {
      margin-top: 20px;
    }

    &--name {
      letter-spacing: 0;
    }

    &--link {
      display: inline-block;
      text-decoration: none;
      color: $color-nobel;
      transition:
        color $trans-default,
        opacity $trans-default;

      @include tap-reset;

      &:focus-visible {
        outline: none;
        color: $color-sunset-oranget;
      }

      @media (hover: hover) and (pointer: fine) {
        &:hover {
          color: $color-sunset-oranget;
        }
      }

      &:active {
        opacity: 0.7;
      }
    }
  }

  @include vp-768 {
    &__text {
      font-size: 16px;
    }
  }

  @include vp-1024 {
    &__text {
      font-size: 12px;
      letter-spacing: 0.02em;
      font-variation-settings: 'wdth' 103;

      & + & {
        margin-top: 0;
      }

      &--name br {
        display: none;
      }
    }
  }
}
