@use '../global' as *;

.filter {
  &__filter-button {
    width: 100%;
    height: 100%;
  }

  &__list {
    position: absolute;
    top: calc(100% + 5px);
    left: -1px;
    right: -1px;
    width: auto;
    max-height: 260px;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    list-style-type: none;
    border-radius: 10px;
    border: 1px solid $color-whisper;
    background-color: $color-whisper;
    transform: scaleY(0);
    opacity: 0.7;
    transform-origin: top;
    transition:
      transform $trans-default,
      opacity $trans-default;
    z-index: $z-index-fifth;
  }

  &--open &__list {
    transform: scaleY(1);
    opacity: 1;
  }

  @include vp-1024 {
    &__list {
      display: flex;
      flex-wrap: wrap;
      width: fit-content;
      max-height: unset;
      position: unset;
      top: unset;
      left: unset;
      background-color: $color-transparent;
      transform: scaleY(1);
      opacity: 1;
      z-index: unset;
      border-left: 1px solid $color-gray-light;
      border-radius: 0;
    }

    &__item {
      min-width: 160px;
      max-width: 240px;
      min-height: 80px;
      border: 1px solid $color-gray-light;
      border-left: none;

      &:not(:first-child) {
        border-top: 1px solid $color-whisper;
      }
    }
  }
}
