@use '../global' as *;

.filter-button {
  @include tap-reset;

  --transform: translate(-50%, -50%) scale(0.6);
  --opacity: 0;

  position: relative;
  display: block;
  width: 100%;
  padding: 24px 44px 16px 20px;
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 1;
  text-align: left;
  border-radius: 10px 0 0 10px;
  border: none;
  border-right: 1px solid $color-whisper;
  background-color: $color-white;
  transition:
    color $trans-default,
    background-color $trans-default,
    opacity $trans-default;
  cursor: pointer;

  &:disabled {
    color: $color-nobel;
    background-color: $color-white-smoke;
    pointer-events: none;
    cursor: default;
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%) scaleY(1);
    transform-origin: center;
    border: 5px solid transparent;
    border-top: 5px solid $color-nero;
    transition:
      transform $trans-default,
      border-color $trans-default,
      opacity $trans-default;
    pointer-events: none;
  }

  &::before,
  &::after {
    @include vp-1024 {
      box-sizing: border-box;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: var(--transform);
      width: 100%;
      height: 100%;
      opacity: var(--opacity);
      transition:
        transform $trans-default,
        opacity $trans-default,
        background-color $trans-default;
      z-index: -1;
    }
  }

  &::before {
    @include vp-1024 {
      border: 6px solid $color-transparent;
      border-image: linear-gradient(to bottom, $color-nero 0%, $color-nero 100%);
    }
  }

  &::after {
    @include vp-1024 {
      background-color: var(--bg-color);
      border-radius: 80px;
    }
  }

  &:active {
    opacity: 0.8;

    @include vp-1024 {
      opacity: 1;
    }
  }

  &--current {
    @include vp-1024 {
      --transform: translate(-50%, -50%) scale(1);
      --opacity: 1;
      color: $color-white;
    }
  }
}

/* --- переворот стрелки --- */

.filter--open .filter-button::after {
  transform: translateY(-50%) scaleY(-1);
}

/* --- hover только на non-touch --- */

@media (hover: hover) and (pointer: fine) {
  .filter-button:hover,
  .filter-button:focus-visible {
    outline: none;
    color: $color-sunset-oranget;

    @include vp-1024 {
      --transform: translate(-50%, -50%) scale(1);
      --opacity: 1;
      color: $color-white;
    }
  }

  .filter-button--current:hover,
  .filter-button--current:focus-visible {
    @include vp-1024 {
      --bg-color: #{$color-sunset-orange};
    }
  }
}

/* --- media в конце --- */

@include vp-1024 {
  .filter-button {
    height: 100%;
    padding: 8px 40px 5px 15px;
    font-size: 14px;
    background-color: $color-transparent;
    text-align: center;
  }
}
