@use '../global' as *;

.header {
  position: relative;
  z-index: $z-index-third;

  &__top {
    min-height: 40px;
  }

  &__offer {
    display: inline-block;
    padding: 12px 10px 8px;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
    transition:
      color $trans-default,
      opacity $trans-default;
    -webkit-tap-highlight-color: transparent;

    &:hover {
      color: $color-sunset-oranget;
    }

    &:focus-visible {
      color: $color-sunset-oranget;
      outline: none;
    }

    &:active {
      opacity: 0.7;
    }
  }

  &__offer-text--accent {
    margin-right: 8px;
    color: $color-sunset-oranget;
  }

  &__bar {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    padding-left: 15px;
    background-image: linear-gradient(
      to bottom,
      $color-whisper 0,
      $color-whisper 1px,
      transparent 1px,
      transparent calc(100% - 1px),
      $color-whisper calc(100% - 1px),
      $color-whisper 100%
    );
  }

  &__user-menu {
    margin: 0;
  }

  &__controls {
    display: flex;
    align-items: center;
    margin-left: auto;
  }

  &__burger,
  &__search {
    @include header-control-size;
  }

  &__dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: calc(100vh - var(--header-height));
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    padding: 20px 30px 30px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    background-color: $color-white;
    transform-origin: top;
    transform: scaleY(0);
    visibility: hidden;
    pointer-events: none;
    opacity: 0;
    transition:
      transform $trans-default,
      visibility $trans-default,
      opacity $trans-default;
    will-change: transform, opacity, visibility;
    z-index: $z-index-third;

    &.is-opened {
      visibility: visible;
      pointer-events: auto;
      opacity: 1;
      transform: scaleY(1);
      transition:
        opacity $trans-default,
        transform $trans-default;
    }
  }

  &__theme {
    width: 100%;
    max-width: 460px;
    margin: 0 auto 20px;
  }

  @include vp-1024 {
    min-height: 120px;

    &__dropdown {
      position: static;
      transform: none;
      opacity: 1;
    }

    &__top {
      display: flex;
      align-items: center;
      gap: 20px;
      min-height: 60px;
    }

    &__offer {
      padding: 12px 20px 8px;
    }

    &__offer-text--accent {
      margin-right: 21px;
    }

    &__user-menu {
      margin-left: auto;
    }

    &__bar {
      align-items: stretch;
      padding: 30px $container-padding-tablet;
    }

    &__controls {
      margin-left: auto;
      display: flex;
      align-items: center;
    }

    &__theme {
      margin-bottom: 0;
    }
  }
}
