@use '../global' as *;

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  @include fluid(padding-top, 4, 11, 320, 390);
  @include fluid(padding-right, 4, 10, 320, 390);
  @include fluid(padding-bottom, 6, 16, 320, 390);
  @include fluid(padding-left, 4, 10, 320, 390);

  color: var(--color-text);

  &__text {
    display: none;
  }

  &__image {
    display: block;

    @include fluid(width, 30, 40, 320, 390);
    @include fluid(height, 25, 33, 320, 390);

    transition: color 0.3s;
    color: inherit;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        outline: none;
        color: $color-sunset-oranget;
      }
    }

    &:focus-visible {
      outline: 2px solid $color-sunset-oranget;
      outline-offset: 2px;
      color: $color-sunset-oranget;
    }

    &:active {
      color: $color-sunset-oranget;
      opacity: 0.6;
    }
  }

  &__svg {
    display: block;
    width: 100%;
    height: 100%;
    color: currentColor;
  }

  &__svg--desktop {
    display: none;
  }

  &__image img {
    display: block;
    width: 100%;
    height: 100%;
  }

  @include vp-1024 {
    @include fluid(width, 125, 400, 1024, 1600);

    min-width: 0;
    max-width: 400px;
    justify-content: flex-start;
    padding: 0 10px;

    &__image {
      @include fluid(width, 115, 230, 1024, 1600);
      @include fluid(height, 30, 60, 1024, 1600);
    }

    &__svg--desktop {
      display: block;
    }

    &__svg--mobile {
      display: none;
    }
  }

  @include vp-1280 {
    position: relative;
    flex-direction: column;
    padding: 20px 20px 0 10px;

    &__text {
      display: block;
      margin: 0;
      align-self: flex-end;
      font-weight: 500;
      font-size: 12px;
      line-height: 0.9;
      letter-spacing: 0.01em;
    }

    &__image {
      align-self: flex-start;
    }
  }
}
