@use '../global' as *;

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  @include fluid(padding-top, 4, 11, 320, 390);
  @include fluid(padding-right, 4, 10, 320, 390);
  @include fluid(padding-bottom, 6, 16, 320, 390);
  @include fluid(padding-left, 4, 10, 320, 390);

  color: var(--color-text);

  &__text {
    display: none;
  }

  &__image {
    display: block;

    @include fluid(width, 30, 40, 320, 390);
    @include fluid(height, 25, 33, 320, 390);

    transition: opacity 0.3s;
    color: inherit;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        outline: none;
        opacity: 0.5;
      }
    }

    &:focus-visible {
      opacity: 0.5;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &__svg {
    display: block;
    width: 100%;
    height: 100%;
    fill: currentColor;
  }

  &__svg--desktop {
    display: none;
  }

  &__image img {
    display: block;
    width: 100%;
    height: 100%;
  }

  @include vp-1024 {
    @include fluid(width, 125, 390, 1024, 1600);

    justify-content: flex-start;
    padding: unset;

    &__image {
      @include fluid(width, 115, 230, 1024, 1600);
      @include fluid(height, 30, 60, 1024, 1600);
    }
  }

  @include vp-1280 {
    position: relative;

    &__text {
      position: absolute;
      top: 20px;
      right: 19px;
      display: block;
      margin: 0;
      align-self: flex-start;
      font-weight: 500;
      font-size: 12px;
      letter-spacing: 0.01em;
    }
  }
}
