@use '../global' as *;

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 11px 10px 16px;

  &__text {
    display: none;
  }

  &__image {
    display: block;
    width: 40px;
    height: 33px;
    transition: opacity 0.3s;

    @media (hover: hover) and (pointer: fine) {
      outline: none;
      opacity: 0.5;
    }

    &:focus-visible {
      opacity: 0.5;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &__image img {
    display: block;
    width: 100%;
    height: 100%;
  }

  @include vp-1024 {
    display: flex;
    align-items: center;
    padding: unset;

    &__image {
      width: 230px;
      height: 60px;
    }
  }

  @include vp-1280 {
    gap: 42px;

    &__text {
      display: block;
      margin: 0;
      align-self: flex-start;
      font-weight: 500;
      font-size: 12px;
      letter-spacing: 0.01em;
    }
  }
}
