@use '../global' as *;

.menu {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;

  &__wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  &__primary,
  &__secondary {
    padding: 0;
    list-style: none;
  }

  &__primary {
    height: 100%;
    margin: 0 0 20px;
  }

  &__profile {
    margin: 0 0 30px;
  }

  &__secondary {
    margin: 0;
  }

  &__item {
    align-self: stretch;

    &:not(:last-child) {
      border-bottom: 1px solid $color-nero;
    }

    &--main {
      display: none;
    }
  }

  &__link {
    min-height: 49px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
    padding: 7px 0 3px;
    transition:
      color $trans-default,
      opacity $trans-default;

    @include tap-reset;

    &:not(.menu__link--current):focus-visible {
      outline: none;
      color: $color-sunset-oranget;
    }

    &.menu__link--current:focus-visible {
      position: relative;
      outline: none;
      z-index: 2;
      box-shadow:
        0 0 0 2px $color-white,
        0 0 0 4px $color-sunset-oranget;
    }

    @media (hover: hover) and (pointer: fine) {
      &:not(.menu__link--current):hover {
        color: $color-sunset-oranget;
      }
    }

    &:not(.menu__link--current):active {
      opacity: 0.7;
    }

    &--current {
      color: $color-sunset-oranget;
    }
  }

  &__link--small {
    font-size: 12px;
    padding: 5px 0;
    text-transform: uppercase;
  }

  &__count {
    display: block;
    font-size: 14px;
    font-weight: 600;
  }

  &__title {
    margin: 0;
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercase;
    padding: 6px 0 5px;
  }

  &__auth {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__footer {
    margin: auto 0 0;
  }

  &__social {
    margin: 0 0 20px;
  }

  @include vp-1024 {
    &__wrapper {
      position: relative;
      top: auto;
      left: auto;
      flex-direction: row;
      align-items: center;
      width: auto;
      height: auto;
      padding: 0;
      overflow: visible;
      transform: none;
      opacity: 1;
    }

    &__profile,
    &__secondary,
    &__footer {
      display: none;
    }

    &__primary {
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      overflow: visible;
    }

    &__item {
      display: flex;
      align-items: center;
      border-right: 1px solid $color-whisper;
      overflow: visible;

      &:first-child {
        border-left: 1px solid $color-whisper;
      }

      &:not(:last-child) {
        border-bottom: unset;
      }
    }

    &__item--main {
      display: flex;
    }

    &__item--secondary .menu__link {
      color: $color-nobel;
    }

    &__item--secondary .menu__link:focus-visible {
      color: $color-sunset-oranget;
    }

    &__link {
      height: 100%;
      justify-content: center;

      @include fluid(min-width, 110, 160, 1024, 1600);

      padding: 10px 5px;
      font-size: 14px;
      text-transform: uppercase;
      text-align: center;
    }

    &__link--current {
      position: relative;
      background: $color-sunset-oranget;
      color: $color-white;
      border-radius: 999px;
      display: grid;
      place-items: center;
    }

    &__link--current::after {
      content: '';
      position: absolute;
      inset: 0;
      pointer-events: none;
      background:
        linear-gradient($color-nero 0 0) left top / 6px 6px no-repeat,
        linear-gradient($color-nero 0 0) right top / 6px 6px no-repeat,
        linear-gradient($color-nero 0 0) left bottom / 6px 6px no-repeat,
        linear-gradient($color-nero 0 0) right bottom / 6px 6px no-repeat;
    }

    &__count {
      display: none;
    }
  }
}
