@use '../global' as *;

.menu {
  position: relative;
  display: flex;
  flex-direction: column;

  &__wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  &__primary,
  &__secondary {
    padding: 0;
    list-style: none;
  }

  &__primary {
    margin: 0 0 20px;
  }

  &__profile {
    margin: 0 0 30px;
  }

  &__secondary {
    margin: 0;
  }

  &__item {
    &:not(:last-child) {
      border-bottom: 1px solid $color-nero;
    }

    &--main {
      display: none;
    }
  }

  &__link {
    min-height: 49px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    color: $color-nero;
    padding: 7px 0 3px;
    transition:
      color $trans-default,
      opacity $trans-default;

    &:focus-visible,
    &:hover {
      outline: none;
      color: $color-sunset-oranget;
    }

    &:active {
      opacity: 0.7;
    }

    &--current {
      color: $color-sunset-oranget;
    }
  }

  &__link--small {
    font-size: 12px;
    padding: 5px 0;
    text-transform: uppercase;
  }

  &__count {
    display: block;
    font-size: 14px;
    font-weight: 600;
  }

  &__title {
    margin: 0;
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercase;
    padding: 6px 0 5px;
  }

  &__auth {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__footer {
    margin: auto 0 0;
  }

  &__social {
    margin: 0 0 20px;
  }

  @include vp-1024 {
    &__wrapper {
      position: relative;
      top: auto;
      left: auto;
      flex-direction: row;
      align-items: center;
      width: auto;
      height: auto;
      padding: 0;
      overflow: visible;
      transform: none;
      opacity: 1;
    }

    &__profile,
    &__secondary,
    &__footer {
      display: none;
    }

    &__primary {
      display: flex;
      flex-wrap: wrap;
    }

    &__item {
      display: flex;
      align-items: center;
      border-bottom: none;
      border-right: 1px solid $color-whisper;

      &:first-child {
        border-left: 1px solid $color-whisper;
      }
    }

    &__item--main {
      display: flex;
    }

    &__item--secondary .menu__link {
      color: $color-nobel;
    }

    &__link {
      justify-content: center;
      min-height: 120px;
      padding: 10px 15px 7px;
      font-size: 14px;
      text-transform: uppercase;
      text-align: center;
    }

    &__count {
      display: none;
    }
  }
}
