@use '../global' as *;

.menu {
  --header-height: 110px;

  position: relative;

  &__wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px 30px 30px;
  }

  &.is-opened {
    .menu__wrapper {
      transform: scaleY(1);
      opacity: 1;
    }
  }

  &__primary,
  &__secondary {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    border-bottom: 1px solid $color-nero;
  }

  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    color: $color-nero;
    padding: 6px 0 5px;
    transition:
      color $trans-default,
      opacity $trans-default;

    &:focus-visible,
    &:hover {
      outline: none;
      color: $color-sunset-oranget;
    }

    &:active {
      opacity: 0.7;
    }

    &.is-current {
      color: $color-sunset-oranget;
    }
  }

  &__link--small {
    font-size: 12px;
    text-transform: none;
    padding: 5px 0;
  }

  &__count {
    font-size: 14px;
    font-weight: 600;
  }

  @include vp-1024 {
    &__wrapper {
      position: relative;
      top: auto;
      left: auto;
      flex-direction: row;
      align-items: center;
      width: auto;
      height: auto;
      padding: 0;
      overflow: visible;
      transform: none;
      opacity: 1;
    }

    &__profile,
    &__secondary,
    &__footer {
      @include vp-1024 {
        display: none;
      }
    }

    &__primary {
      display: flex;
      flex-wrap: wrap;
    }

    &__item {
      display: flex;
      align-items: center;
      border-bottom: none;
      border-right: 1px solid $color-whisper;

      &:first-child {
        border-left: 1px solid $color-whisper;
      }
    }

    &__link {
      justify-content: center;
      min-height: 120px;
      padding: 10px 15px 7px;
      font-size: 14px;
      text-transform: uppercase;
      text-align: center;
    }

    &__count {
      display: none;
    }
  }
}
