@use '../global' as *;

.page {
  height: 100%;
  scroll-behavior: smooth;

  &__body {
    min-height: 100%;
    min-width: 320px;
    font-family: $font-primary;
    font-size: 12px;
    line-height: 1.6;
    font-weight: 500;
    background-color: $color-white;
    color: $color-ner;
    display: flex;
    flex-direction: column;

    
  }
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  font-family: $primary-font;
  margin: 0;

  color: $color-text-basic;

  @media #{$tablet-width} {
    font-size: 14px;
  }
}
