@use '../global' as *;

.promo-swiper {
  position: relative;
  overflow: hidden;

  &__wrapper {
    margin: 0;
    padding: 0;
  }

  &__slide {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    width: 100%;
    align-items: center;
    text-align: center;
  }

  &__promo-card {
    width: 100%;
  }

  &__pagination {
    display: flex;
    gap: 12px;
    position: relative;
    z-index: 1;
    margin: 0 auto;
    max-width: 800px;
    justify-content: center;
    transform: translateY(-60px);
  }

  @include vp-768 {
    &__wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }

    &__pagination {
      display: none;
    }
  }
}
