@use '../global' as *;

.promo-swiper {
  position: relative;
  overflow: hidden;

  &__wrapper {
    margin: 0;
    padding: 0;
    align-items: stretch;
  }

  &__slide {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    text-align: center;
  }

  &__promo-card {
    width: 100%;
  }

  &__pagination.swiper-pagination.swiper-pagination-bullets {
    position: absolute;
    width: auto;
    max-width: 90%;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6px;
    padding: 7px;
    margin: 0;
    background-color: $color-white;
    border-radius: 10px;
    z-index: $z-index-first;
  }

  @include vp-768 {
    &__wrapper.swiper-wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }

    &__pagination {
      display: none;
    }
  }
}
