@use '../global' as *;

.promo-card {
  --img-transform: scale(1);
  --slogan-color: #{$color-sunset-oranget};
  --offer-space: 8px;

  box-sizing: border-box;
  position: relative;
  display: grid;
  aspect-ratio: 370 / 300;
  width: 100%;
  padding: 18px 20px 57px;
  background-color: $color-whisper;
  color: inherit;
  border-radius: 10px;
  text-decoration: none;
  transition: opacity $trans-default;

  &:focus-visible,
  &:hover {
    --img-transform: scale(1.2);
    --slogan-color: #{$color-sunset-oranget};

    outline: none;
  }

  &:active {
    opacity: 0.7;
  }

  &--dark {
    background-color: $color-black;
    color: $color-whisper;
  }

  &__image-wrapper {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
  }

  & img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: 100%;
    transform: var(--img-transform);
    transition: transform 0.5s;
  }

  &__content {
    position: relative;
    display: grid;
    grid-template-columns: min-content 1fr 40px;
    grid-template-rows: min-content 1fr;
    align-items: center;
    gap: 20px 18px;
    z-index: 1;
  }

  &__slogan {
    grid-area: 2 / 1 / 3 / -1;
    justify-self: center;
    margin: 0;
    font-weight: 600;
    font-size: 46px;
    line-height: 0.86;
    text-transform: uppercase;
    text-align: center;
    color: var(--slogan-color);
    transition: color $trans-default;
  }

  &--pragmatica-next {
    background-color: $color-melon;
  }

  &--pragmatica-next .promo-card__slogan {
    font-variation-settings:
      'wght' 660,
      'wdth' 88;
    letter-spacing: -0.03em;
    line-height: 0.82;
  }

  &__description {
    grid-area: 1 / 2 / 2 / 3;
    justify-self: start;
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.01em;
    color: inherit;
  }

  &__font-count {
    margin: 0;
    font-weight: 600;
    font-size: 12px;
    line-height: 1;
    text-transform: uppercase;
  }

  &__special-offer {
    position: absolute;
    top: var(--offer-space);
    right: var(--offer-space);
    display: grid;
    place-items: center;
    width: 40px;
    height: 40px;
    margin: 0;
    border-radius: 50%;
    background-color: $color-sunset-oranget;
    color: $color-white;
    font-weight: 600;
    font-size: 12px;
    line-height: 1;
  }

  @include vp-390 {
    &__slogan {
      @include fluid(font-size, 34, 80, 390, 768);
    }

    &--pragmatica-next .promo-card__slogan {
      @include fluid(font-size, 36, 78, 390, 768);
    }
  }

  @include vp-768 {
    aspect-ratio: 760 / 440;
    padding: 21px 20px 31px;

    &__slogan {
      @include fluid(font-size, 48, 60, 768, 1600);
    }

    &--pragmatica-next .promo-card__slogan {
      @include fluid(font-size, 46, 104, 768, 1600);
    }

    &__content {
      grid-template-columns: auto;
      grid-template-rows: min-content 1fr min-content;
      justify-items: start;
    }

    &__description {
      grid-area: 3 / 1 / 4 / -1;
      justify-self: center;
    }

    &__special-offer {
      @include fluid(width, 25, 45, 768, 1600);
      @include fluid(height, 25, 45, 768, 1600);
    }
  }
}
