@use '../global' as *;

.search {
  @include header-icon-item;
  @include header-icon-states;

  box-shadow: inset -1px 0 0 $color-whisper;

  @include vp-1024 {
    height: 100%;
    padding: 10px 10px 10px 36px;
    border-right: unset;
    box-shadow: inset 1px 0 0 $color-whisper;
  }

  &__svg {
    @include header-icon-svg;
  }
}
