@use '../global' as *;

.showcase {
  &__controls {
    position: relative;
    min-height: 50px;
    display: grid;
    grid-template-columns: 1fr auto;
    margin: 0 0 20px;
    border-radius: 10px;
    border: 1px solid $color-whisper;
  }

  &__view {
    display: flex;
    gap: 20px;
    padding: 10px 20px;
    transform: translateZ(0);
  }

  &__view-button {
    width: 20px;
    height: 20px;
    margin: auto 0;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__item {
    &:not(:last-child) {
      margin: 0 0 10px;
    }
  }

  @include vp-768 {
    &__controls {
      display: flex;
      justify-content: space-between;
      border: none;
    }

    &__filter {
      position: relative;

      > .filter__filter-button.filter-button {
        border: 1px solid $color-whisper;
        border-radius: 10px;
        min-width: 350px;
        height: unset;
      }
    }

    &__view {
      padding: 10px 20px;
    }
  }

  @include vp-1024 {
    &__controls {
      align-items: flex-end;
      gap: 10px;
      padding: 0 20px;
    }

    &__filter {
      > .filter__filter-button.filter-button {
        display: none;
      }
    }

    &__view {
      padding: 18px 0;
    }

    &__view-button.view-button {
      width: 24px;
      height: 24px;
    }

    &__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    }

    &__item {
      min-height: 600px;

      &:not(:last-child) {
        margin: 0;
      }
    }

    &__item--big {
      grid-column: 1 / 3;
      width: 100%;
      min-height: 800px;
    }
  }
}
