@use '../global' as *;

.swiper {
  position: relative;
  overflow: hidden;

  &__wrapper.swiper-wrapper {
    margin: 0;
    padding: 0;
  }

  &__slide.swiper-slide {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    width: 100%;
    align-items: center;
    text-align: center;
  }

  &__promo-card {
    width: 100%;
  }

  &__pagination {
    display: none;
  }

  &__pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $color-whisper;
    opacity: 1;
    transition: background-color $trans-default;

    @include tap-reset;
  }

  &__pagination .swiper-pagination-bullet-active {
    background-color: $color-sunset-oranget;
  }

  @include vp-1024 {
    &__pagination {
      display: flex;
      gap: 12px;
      position: relative;
      z-index: 1;
      margin: 0 auto;
      max-width: 800px;
      justify-content: center;
      transform: translateY(-60px);
    }
  }
}
