@use '../global' as *;

.theme {
  &__toggle {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    max-width: 450px;
    padding: 0;
    background-color: $color-white-smoke;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: opacity $trans-default;

    @include tap-reset;

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: none;
    }

    &:active {
      opacity: 0.9;
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        opacity: 0.95;
      }
    }
  }

  &__label {
    display: flex;
    align-items: center;
    gap: 8px;
    min-height: 40px;
    padding: 10px;
    font-weight: 600;
    font-size: 12px;
    text-transform: uppercase;
    color: $color-nero;
    cursor: pointer;
    z-index: 1;
  }

  &__icon {
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    fill: currentColor;
  }

  &__text {
    white-space: nowrap;
  }

  @include vp-1024 {
    &__toggle {
      width: 80px;
      height: 40px;
    }

    &__label {
      justify-content: center;
      padding: 0;
    }

    &__text {
      @include visually-hidden;
    }
  }
}
