@use '../global' as *;

.user-menu {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;

  &__link {
    @include header-control-size;
    @include header-icon-item;
    @include header-icon-states;

    position: relative;
  }

  &__svg {
    @include header-icon-svg;
  }

  &__count {
    @include visually-hidden;
  }

  &__text {
    @include visually-hidden;
  }

  @include vp-1024 {
    justify-content: flex-end;

    &__text {
      @include visually-shown;

      font-size: 12px;
      text-transform: uppercase;
    }

    &__count {
      @include visually-shown;
    }
  }
}
