@use '../global' as *;

.user-menu {
  // min-width: 0;
  // max-width: 100%;
  display: flex;
  flex-wrap: nowrap;
  // overflow-x: auto;
  // -webkit-overflow-scrolling: touch;
  // overscroll-behavior-x: contain;
  // touch-action: pan-x;
  padding: 0;
  list-style: none;

  &__item {
    flex-shrink: 0;
  }

  &__item:not(:first-child) {
    border-left: 1px solid $color-whisper;
  }

  &__link {
    position: relative;

    @include header-control-size;
    @include header-icon-item;
    @include header-icon-states;
  }

  &__svg {
    @include header-icon-svg;
  }

  &__count {
    @include visually-hidden;
  }

  &__text {
    @include visually-hidden;
  }

  @include vp-1024 {
    justify-content: flex-end;

    &__item:nth-child(1) .user-menu__link {
      border-left: unset;
    }

    &__text,
    &__count {
      @include visually-shown;

      font-weight: 600;
      font-size: 14px;
      text-transform: uppercase;
      color: inherit;
    }
  }
}
