@use '../global' as *;

.user-menu {
  display: flex;
  padding: 0;
  list-style: none;

  &__link {
    position: relative;

    @include header-control-size;
    @include header-icon-item;
    @include header-icon-states;

    border-left: 1px solid $color-whisper;
  }

  &__svg {
    @include header-icon-svg;
  }

  &__count {
    @include visually-hidden;
  }

  &__text {
    @include visually-hidden;
  }

  @include vp-1024 {
    justify-content: flex-end;

    &__item:nth-child(1) .user-menu__link {
      border-left: unset;
    }

    &__text,
    &__count {
      @include visually-shown;

      font-weight: 600;
      font-size: 14px;
      text-transform: uppercase;
      color: inherit;
    }
  }
}
