@use '../global' as *;

.view-button {
  position: relative;
  z-index: 2;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin: auto 0;
  padding: 0;
  border: none;
  background: none;
  color: $color-nero;
  cursor: pointer;
  transition:
    color $trans-default,
    opacity $trans-default;

  @include tap-reset;

  &::before {
    content: '';
    position: absolute;
    inset: -10px;
    pointer-events: none;
  }

  &:focus-visible {
    outline: none;
    color: $color-sunset-orange;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover {
      color: $color-sunset-orange;
    }
  }

  // &:active {
  //   opacity: 0.6;
  // }

  &:disabled {
    color: $color-nobel;
    pointer-events: none;
    cursor: default;
  }

  @include vp-1024 {
    width: 24px;
    height: 24px;
  }

  &.is-active {
    color: $color-sunset-orange;

    &:focus-visible {
      opacity: 0.8;
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        opacity: 0.8;
      }
    }
  }

  &__icon {
    width: 100%;
    height: 100%;
    display: block;
    flex: none;
    color: currentColor;
    pointer-events: none;
  }
}
