// Common

// Blocks
@use './blocks/page';
@use './blocks/main-content';
@use './blocks/container';
@use './blocks/header';
@use './blocks/logo';
@use './blocks/burger';
@use './blocks/menu';
@use './blocks/user-menu';
@use './blocks/search';
@use './blocks/theme';
@use './blocks/footer';
@use './blocks/social';
@use './blocks/copyright';
@use './blocks/promo';
@use './blocks/swiper';
@use './blocks/promo-card';
