// Blocks
@use './blocks/page';
@use './blocks/main-content';
@use './blocks/container';
@use './blocks/header';
@use './blocks/logo';
@use './blocks/burger';
@use './blocks/menu';
@use './blocks/user-menu';
@use './blocks/search';
@use './blocks/theme';
@use './blocks/footer';
@use './blocks/social';
@use './blocks/copyright';
@use './blocks/promo';
@use './blocks/promo-swiper';
@use './blocks/badge';
@use './blocks/promo-card';
@use './blocks/promo-bullet';
@use './blocks/catalog-section';
@use './blocks/catalog';
@use './blocks/catalog-card';
@use './blocks/showcase';
@use './blocks/filter';
@use './blocks/filter-button';
@use './blocks/view-button';
@use './blocks/showcase-card';
@use './blocks/favorites-button';
@use './blocks/slider-pagination';
